<div class="right-panel light t4 t4-trans trans-2000 container" >

<div class="row">
    <div class="col-sm-12">
        <h2></h2>
          <p><a class="btn btn-lg btn-info" href="/signup" role="button">Sign up</a> <a class="btn btn-lg btn-success" href="/signin" role="button">Sign in</a></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
          <p><a class="btn btn-lg btn-orange" href="#" role="button">Create a room!</a></p>
    </div>

</div>
</div>


    <div class="t3 t3-trans trans-700 main-content">


<div class="row text-right clearfix">

                                  <div class="pull-left col-lg-8 col-md-7 col-sm-7">



<table class="table table-bordered" >
<tr>
<th colspan="2" class="text-right">Site</th>
</tr>
<% for (r in routesMap.main) { %>
<tr>
<td>
<strong><%= routesMap.main[r].method.toUpperCase() %> </strong>
<%= routesMap.main[r].path %></td>
<td>
controllers.<%= routesMap.main[r].handler %></td>
</td>
</tr>
<% } %>
<tr>
</table>
</blockquote>
<hr>

<table class="table table-bordered" >
<tr>
<th colspan="2" class="text-right">Users</th>
</tr>
<% for (r in routesMap.users) { %>
<tr>
<td>
<strong><%= routesMap.users[r].method.toUpperCase() %> </strong>
<%= routesMap.users[r].path %></td>
<td>
controllers.<%= routesMap.users[r].controller%>.<%= routesMap.users[r].handler  %></td>
</td>
</tr>

<% } %>
</table>

<hr>


    <table class="table table-bordered" >

    <tr>
<th colspan="2" class="text-right">Rooms</th>
</tr>
<% for (r in routesMap.rooms) { %>
<tr>
<td>
<strong><%= routesMap.rooms[r].method.toUpperCase() %> </strong>
<%= routesMap.rooms[r].path %></td>
<td>
controllers.<%= routesMap.rooms[r].controller%>.<%= routesMap.rooms[r].handler  %></td>
</td>
</tr>
<% } %>
</table>



                    </div>

                </div>
                                  <div class="pull-right col-lg-3 col-md-4 col-sm-4">

</div>

    </div>